body {
    background-color: #21252900;
    font-family: 'SF Pro Display', serif;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px 100px #0c0d0e inset;
}

.border {
    border: 2px solid white;
}



.btn-grad-ce {
    background-image: linear-gradient(to right, #232526c9 0%, #414345c9 51%, #23252693 100%)
}


.btn-grad-ce {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 12px;
    min-height: 40px;
    min-width: 100%;

    max-width: 90%;
    border: 1px solid rgba(80, 80, 80, 0.829);
    transition: background-position 0.3s ease;
}

.btn-grad-ce:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-grad-ce.noactive{
  text-decoration: none;
  opacity: 0.3;
}

.btn-grad-ce.noactive:hover{
  opacity: 0.3;
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-back-ce {
    background-image: linear-gradient(to right, #232526c9 0%, #41434562 51%, #23252693 100%)
}

.btn-back-ce {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    font-weight: 700;
    max-height: 40px;
    border: 1px solid rgba(80, 80, 80, 0.829);
    transition: background-position 0.3s ease;

}

.btn-back-ce:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.cam-control {
  background-image: linear-gradient(to right, #232526c9 0%, #ffb3100c 51%, #ffb3101a 100%)
}


.cam-control {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 15px;
  border: 1px solid #7e6329;

  height: 50px;
  width: 50px;

  transition: background-position 0.3s ease;
}

.cam-control:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  border: 1px solid #7e6329;

}


.parent-block{
  border: 1px solid #ffb31044;
  background-color: #292929d8;
  border-radius: 8px;
}

.arrow-btn{
  transition: 0.1s;
}

.arrow-btn:hover{
  transform: scale(1.1);
}


.form-control-ce::placeholder {
    color: rgb(182, 182, 182);
    font-size: 14px;
    font-weight: 700;
}

.form-control-ce {
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #ffb31044;
    background-color: #292929d8;
    transition: 0.3s;
}

.form-control-ce:active {
    border: 1px solid #ffb310ad;
    box-shadow: none;
    background-color: #1f1f1f8e;

}

.form-control-ce:focus {
    border: 1px solid #ffb310ad;
    box-shadow: none;
    background-color: #1f1f1f8e;
}

.form-control-ce:hover {
    border: 1px solid #ffb3107c;
    box-shadow: none;
    background-color: #2929299f;
}

.text-reset-password:hover {
    background-color: rgba(245, 222, 179, 0);
}

p {
    font-family: 'SF-Pro-Display-Medium';
}

.preview-text h1 {
  font-weight: 700;
}

.preview-text h4 {
  font-weight: 700;
  color: #ffb310;
}

.preview-text h6 {
  font-weight: 400;
  color: #d6d6d6;
}


.gender-img {
  width: 55px;
  border-radius: 8px;
  border: 1px solid #ffb31044;
  background-color: #292929d8;
  transition: 0.5s;

}

.gender-img:hover {
  transform: scale(0.95);
  border: 1px solid #ffb310ad;
}

.gender-img.selected {
  background-color: #d1930d;
  opacity: 1;
  transform: scale(1.05);
  transition: 0.5s;

}

.gender-img.selected:hover{
  transform: scale(0.95);

}

.slider-wrapper {
  width: 100%;
  max-width: 100%;
}

.slider {
  width: 100%;
  height: 20px;
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #d1930dd2 0%,
    #d1930d67 calc(var(--value) / var(--max) * 100%),
    #292929d8 calc(var(--value) / var(--max) * 100%),
    #292929d8 100%
  );
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}

.slider:hover{
  background: linear-gradient(
    to right,
    #d1930da9 0%,
    #d1930d67 calc(var(--value) / var(--max) * 100%),
    #292929d8 calc(var(--value) / var(--max) * 100%),
    #292929a1 100%
  );
}



.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 25px;
  border-radius: 3px;
  background: #e6a10f;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 8px;
  height: 24px;
  border-radius: 3px;
  background: #d1930d;
  border: none;
  cursor: pointer;
}

.slider::-moz-range-track {
  background: transparent;
  border: none;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('@/assets/fonts/SanFranciscoProDisplay/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('@/assets/fonts/SanFranciscoProDisplay/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('@/assets/fonts/SanFranciscoProDisplay/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('@/assets/fonts/SanFranciscoProDisplay/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
